# Ignorar la carpeta Library, que Unity puede regenerar
Library/
Temp/
Logs/
Obj/
UserSettings/

# Ignorar archivos específicos de compilación
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.svd
*.pdb
*.opendb
*.VC.db

# Ignorar paquetes descargados
Packages/
